window {
    margin: 0px;
    background-color: #191724;
    border-radius: 4px;
    border: 1px solid #31748f;
    font-family: 'CaskaydiaCove Nerd Font';
    font-size: 16px;
	font-weight: 500;
}

#inner-box {
	padding: 0;
	margin-right: 1rem;
	margin-left: 1rem;
}

#outer-box {
    margin: 5px;
	padding: 0 1rem;
    border: none;
    background-color: #030305;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin-left: 3rem;
    border: none;
    color: #605a68;
    outline: none;
} 

#entry {
	background-color: rgba(0,0,0,0);
	min-height: 2rem;
	border: 1px solid transparent;
	border-top: 1px solid rgba(0,0,0,0.5);
    outline: none;
}

#text:selected {
	color: #9ccfd8;
}


#entry:selected {
    border: 1px solid #c4a7e7;
    outline: none;
}
